<div ng-controller='chartCtrl'>
		<!-- <form>
			<input class='container' type='text' ng-model='symbol' ng-submit='getPair()' placeholder='Enter currency pair'>
		</form>-->


 <div id="container" class="container chartjar" style="width:auto; height:750px;"></div>
 <div class='container-fluid row'>
 	<ul class='list-unstyled list-inline'>
		<a href=''><button class='pairbtn col-md-3 hvr-shutter-out-horizontal' ng-click='getPair("EUR/USD")'>EUR/USD</button></a>
		<a href=''><button class='pairbtn col-md-3 hvr-shutter-out-horizontal' ng-click='getPair("GBP/USD")'>GBP/USD</button></a>
		<a href=''><button class='pairbtn col-md-3 hvr-shutter-out-horizontal' ng-click='getPair("USD/JPY")'>USD/JPY</button></a>
		<a href=''><button class='pairbtn col-md-3 hvr-shutter-out-horizontal' ng-click='getPair("USD/CHF")'>USD/CHF</button></a>
	</ul>
</div>
<!-- {{testdata}} -->