<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.4/socket.io.min.js"></script> -->

<input class='container' type='text' ng-model='symbol' placeholder='Enter currency pair'>

<div ng-controller='galleryCtrl'>
	<highchart id='chart1' config='chartConfig'></highchart>
	<div id="container" class="container" style="width:auto; height:auto;"></div>
</div>


<!--<script>
  var socket = io.connect('http://localhost:8880');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('other event', { my: 'data' });
  });
</script>-->




