<div class="container">
    <ul class="rslides">
      <li><img src="images/zion1.jpg" alt=""></li>
      <li><img src="images/zion2.jpg" alt=""></li>
      <li><img src="images/zion3.jpg" alt=""></li>
      <li><img src="images/zion4.jpg" alt=""></li>
      <li><img src="images/zion5.jpg" alt=""></li>
    </ul>
</div>

<!-- <div>
    <script>
        var socket = io.connect('http://127.0.0.1:8080');
        socket.on('news', function(data){
            var row = document.getElementById("mytable").insertRow(-1);
            row.innerHTML = data;
        });
    </script>
</div>
<div id = "data">
    <table id="mytable"></table>
</div> -->
 