.topbar {
  padding: 7.5px;
  text-align: center;
}

.navbar-left {
  font-size: 30px;
}

.navbar-right {
  font-size: 24px;
  text-align: center;
}

.nav-one {
	margin-bottom: 0px;
}

.nav-two {
	background-color: rgb(46,46,46);
	color: white;
	margin: 0;
  padding: 0;
}

.navbar-fixed-top {
}

.navbar-header {  
}

.hvr-fade:hover {
  background: #66FF33;
  color: black;
}

.hvr-shutter-out-horizontal:hover {
  color: black;
}

.hvr-shutter-out-horizontal:before {
  background: #FFFF00;
  color: black;
}

.row {
  margin: 0;
  padding: 0;
}

.list-unstyled {
	text-align: center;
}

.ng-scope {
	padding: 0px;
}

.container {
  background-color: black;
	padding-top: 100px;
	margin-left: 1.333px;
	margin-right: 1.333px;
	width: auto;
}

.chartjar {
  margin-top: 120px;
  margin-bottom: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbtn {
	background-color: rgb(46,46,46);
	margin-top: 5px;
  font-size: 16px;
  border-radius: 0.5;
}

.pairbtn {
  border-radius: 0;
  border: 0;
  background: rgb(46,46,46);
  color: white;
  font-size: 20px;
  padding: 8px;
}

.form-control {
	padding-top: 125px;
}


/* responsiveslides*/

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

